# Movies influence

In [27]:
import csv
import networkx as nx
import pandas as pd
from itables import init_notebook_mode
import itables.options as opt
from itables import show
import re
import math

init_notebook_mode(all_interactive=True)

In [28]:
print('Loading references data...')
references = []
with open("data/references.csv") as r_file:
    csv_reader = csv.reader(r_file, delimiter=',')
    for row in csv_reader:
        references.append((row[0], row[1]))

print('Loading movies data...')
moves_data = {}
with open("data/movies_with_references.csv", encoding='utf-8') as m_file:
    csv_reader = csv.reader(m_file, delimiter=',')

    for row in csv_reader:
            moves_data[row[0]] = {
                'id': row[0],
                'title': row[3],
                'startYear': int(row[4]) if row[4] != '\\N' else 0,
                #'endYear': int(row[5]) if row[5] != '\\N' else 0,
                'inputRefs': int(row[1]),
                'outputRefs': int(row[2]),
                'genres': row[6],
                'pRank': 0,
                'rating': 0.0,
                'country': "",
                'runtime': 0,
                'budget': 0,
                'gross': 0,
                'userReviews': 0,
                'criticReviews': 0,
                'pr*outputRefs': 0,
                'pr/runtime': 0,
                'pr/budget': 0,
                'pr*gross': 0,
            }

with open("data/base_movies_data.csv") as m_file:
    csv_reader = csv.reader(m_file, delimiter=',')
    
    for i, row in enumerate(csv_reader):
        # Convert runtime to minutes
        totalMinutes = 0
        hours = re.search(r'(\d)h', row[3])
        if hours is not None:
            totalMinutes += int(hours.group(1))*60
        minutes = re.search(r'(\d)min', row[3])
        if minutes is not None:
            totalMinutes += int(minutes.group(1))
        
        # Convert user reviwes to int
        totalUserReviews = 0
        thousands = re.search(r'((\d|\.)+)K', row[6])
        if thousands is not None:
            totalUserReviews += int(float(thousands.group(1))*1000)
        else:
            totalUserReviews = int(row[6]) if row[6] != "" else 0

        # Convert critic reviwes to int
        totalCriticReviews = 0
        thousands = re.search(r'((\d|\.)+)K', row[7])
        if thousands is not None:
            totalCriticReviews += int(float(thousands.group(1))*1000)
        else:
            totalCriticReviews = int(row[7]) if row[7] != "" else 0

        moves_data[row[0]]['rating'] = float(row[1]) if row[1] != "" else 0.0
        moves_data[row[0]]['country'] = row[2].split(',')[0]
        moves_data[row[0]]['runtime'] = totalMinutes
        moves_data[row[0]]['budget'] = row[4][1:].replace(",","").replace(".","") if len(row[4]) > 1 and row[4][0] == '$' else 0
        moves_data[row[0]]['gross'] = row[5][1:].replace(",","").replace(".","") if len(row[5]) > 1 and row[5][0] == '$' else 0
        moves_data[row[0]]['userReviews'] = totalUserReviews
        moves_data[row[0]]['criticReviews'] = totalCriticReviews

Loading references data...
Loading movies data...

In [29]:
print('Calculating Movie Rank...')
G = nx.DiGraph()
G.add_edges_from(references)
mr = nx.pagerank(G, alpha=0.85)

for movId in mr:
    if movId not in moves_data:
        continue
    moves_data[movId]["pRank"] = mr[movId]
#     moves_data[movId]['pr*outputRefs'] = (mr[movId]*moves_data[movId]['outputRefs']) if moves_data[movId]['outputRefs'] != 0 else 0
#     moves_data[movId]['pr/runtime'] = (mr[movId]/moves_data[movId]['runtime']) if moves_data[movId]['runtime'] != 0 and moves_data[movId]['runtime'] > 20 else 0
#     moves_data[movId]['pr/budget'] = (mr[movId]/int(moves_data[movId]['budget'])) if moves_data[movId]['budget'] != 0 and mr[movId] > 0.0001 else 0
#     moves_data[movId]['pr*gross'] = (mr[movId]*int(moves_data[movId]['gross'])) if moves_data[movId]['gross'] != 0 else 0
print('Finished calculating movie rank')

Calculating Movie Rank...
Finished calculating movie rank

In [30]:

filtered_movies_data = [d for d in moves_data.values() if d['inputRefs'] > 10]
sorted_filteres_movies_data = sorted(filtered_movies_data, key=lambda item: item["pRank"], reverse=True)
sorted_filteres_movies_data = [{**{"#": i+1}, **e} for i, e in enumerate(sorted_filteres_movies_data)]

print('Total number of movies: %d' % len(moves_data.values()))
print('Total number of filtered movies: %d' % len(sorted_filteres_movies_data))


opt.lengthMenu = [20]
opt.maxBytes = 0
x = pd.DataFrame.from_dict(sorted_filteres_movies_data)
# show(x, order=[7, "desc"])
print(x[:7])

Total number of movies: 217587
Total number of filtered movies: 7818
   #         id                               title  startYear  inputRefs  \
0  1  tt0032138                    The Wizard of Oz       1939       3405
1  2  tt0033467                        Citizen Kane       1941       1163
2  3  tt0076759  Star Wars: Episode IV - A New Hope       1977       5370
3  4  tt0024216                           King Kong       1933       1039
4  5  tt0017136                          Metropolis       1927        283
5  6  tt0060028      Star Trek: The Original Series       1966       2694
6  7  tt0034583                          Casablanca       1942       1501

   outputRefs                              genres     pRank  rating  \
0           5  ['Adventure', 'Family', 'Fantasy']  0.007400     8.0
1          29                ['Drama', 'Mystery']  0.005531     8.3
2          28  ['Action', 'Adventure', 'Fantasy']  0.004553     8.6
3           4   ['Adventure', 'Horror', 'Sci-Fi']  0.002937     7.9
4           1                 ['Drama', 'Sci-Fi']  0.002812     8.3
5           1   ['Action', 'Adventure', 'Sci-Fi']  0.002591     8.3
6           5         ['Drama', 'Romance', 'War']  0.002431     8.5

         country  runtime    budget      gross  userReviews  criticReviews  \
0  United States       62   2777000   25407411          750            156
1  United States       69    839727    1603237         1500            270
2  United States      121  11000000  775398007         1900            201
3  United States       60    670000        651          545            180
4        Germany      123         0    1349711          517            219
5  United States        0         0          0          228            103
6  United States       62    950000    4376287         1400            211

   pr*outputRefs  pr/runtime  pr/budget  pr*gross
0              0           0          0         0
1              0           0          0         0
2              0           0          0         0
3              0           0          0         0
4              0           0          0         0
5              0           0          0         0
6              0           0          0         0

In [31]:
from tabulate import tabulate

max_title_length = 34
display_data = lambda data, num: [
    {
        '#': m['#'],
        'title': m['title'][:max_title_length]+"..." if len(m['title']) > max_title_length else m['title'],
        'year': m['startYear'],
        'inputRefs': m['inputRefs'],
        'pR': m['pRank'],
        'rating': m['rating'],
        'country': m['country'],

    } for m in data[:num]]

sorted_filteres_movies_data_df = pd.DataFrame.from_dict(display_data(sorted_filteres_movies_data, 100)).set_index('#')
print("Movies sorted by PR")
print(tabulate(sorted_filteres_movies_data_df, headers='keys', tablefmt='psql'))

animation = [m for m in sorted_filteres_movies_data if 'Animation' in m['genres']]
print("Animated movies sorted by PR")
print(tabulate(pd.DataFrame.from_dict(display_data(animation, 20)), headers='keys', tablefmt='psql'))

adult = [m for m in sorted_filteres_movies_data if 'Adult' in m['genres']]
print("Adult movies sorted by PR")
print(tabulate(pd.DataFrame.from_dict(display_data(adult, 10)), headers='keys', tablefmt='psql'))

Movies sorted by PR
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|   1 | The Wizard of Oz                      |   1939 |        3405 | 0.00740026  |      8   | United States  |
|   2 | Citizen Kane                          |   1941 |        1163 | 0.00553099  |      8.3 | United States  |
|   3 | Star Wars: Episode IV - A New Hope    |   1977 |        5370 | 0.00455308  |      8.6 | United States  |
|   4 | King Kong                             |   1933 |        1039 | 0.00293679  |      7.9 | United States  |
|   5 | Metropolis                            |   1927 |         283 | 0.00281159  |      8.3 | Germany        |
|   6 | Star Trek: The Original Series        |   1966 |        2694 | 0.0025909   |      8.3 | United States  |
|   7 | Casablanca                            |   1942 |        1501 | 0.00243122  |      8.5 | United States  |
|   8 | Psycho                                |   1960 |        1485 | 0.00240475  |      8.5 | United States  |
|   9 | 2001: A Space Odyssey                 |   1968 |        1085 | 0.00220277  |      8.3 | United Kingdom |
|  10 | The Birth of a Nation                 |   1915 |         102 | 0.0021417   |      6.3 | United States  |
|  11 | Snow White and the Seven Dwarfs       |   1937 |         840 | 0.00209014  |      7.6 | United States  |
|  12 | The Terminator                        |   1984 |        1423 | 0.00192913  |      8   | United Kingdom |
|  13 | The Godfather                         |   1972 |        1785 | 0.00191543  |      9.2 | United States  |
|  14 | Jaws                                  |   1975 |        1578 | 0.0017549   |      8   | United States  |
|  15 | Gone with the Wind                    |   1939 |        1189 | 0.00156575  |      8.1 | United States  |
|  16 | Star Wars: Episode V - The Empire ... |   1980 |        1835 | 0.00148389  |      8.7 | United States  |
|  17 | Frankenstein                          |   1931 |         876 | 0.0013589   |      7.8 | United States  |
|  18 | The Searchers                         |   1956 |         143 | 0.00133993  |      7.9 | United States  |
|  19 | Apocalypse Now                        |   1979 |         914 | 0.00130937  |      8.4 | United States  |
|  20 | The Shining                           |   1980 |        1213 | 0.00129154  |      8.4 | United Kingdom |
|  21 | Indiana Jones and the Raiders of t... |   1981 |        1446 | 0.00128123  |      8.4 | United States  |
|  22 | Sesame Street                         |   1969 |        1500 | 0.00128074  |      8.1 | United States  |
|  23 | The Exorcist                          |   1973 |         937 | 0.0012684   |      8   | United States  |
|  24 | Battleship Potemkin                   |   1925 |         154 | 0.00126263  |      8   | Soviet Union   |
|  25 | Godzilla                              |   1954 |        1073 | 0.00126139  |      7.6 | Japan          |
|  26 | Taxi Driver                           |   1976 |         837 | 0.00124502  |      8.2 | United States  |
|  27 | It's a Wonderful Life                 |   1946 |         653 | 0.00115169  |      8.6 | United States  |
|  28 | E.T. the Extra-Terrestrial            |   1982 |        1375 | 0.00114729  |      7.8 | United States  |
|  29 | Vertigo                               |   1958 |         444 | 0.00114439  |      8.3 | United States  |
|  30 | Shadow of a Doubt                     |   1943 |          46 | 0.00111278  |      7.8 | United States  |
|  31 | Dr. Strangelove or: How I Learned ... |   1964 |         421 | 0.00108849  |      8.4 | United Kingdom |
|  32 | Ghostbusters                          |   1984 |        1319 | 0.00106646  |      7.8 | United States  |
|  33 | Alien                                 |   1979 |        1026 | 0.00106166  |      8.4 | United Kingdom |
|  34 | A Clockwork Orange                    |   1971 |         670 | 0.00105967  |      8.3 | United Kingdom |
|  35 | The Grand Illusion                    |   1937 |          39 | 0.00104836  |      8.1 | France         |
|  36 | The Sweet Life                        |   1960 |         160 | 0.00102348  |      8   | Italy          |
|  37 | Rosemary's Baby                       |   1968 |         388 | 0.00101532  |      8   | United States  |
|  38 | The Sound of Music                    |   1965 |         753 | 0.00101332  |      8   | United States  |
|  39 | Bambi                                 |   1942 |         554 | 0.000970815 |      7.3 | United States  |
|  40 | Back to the Future                    |   1985 |        1303 | 0.000965348 |      8.5 | United States  |
|  41 | Nosferatu                             |   1922 |         272 | 0.000935322 |      7.9 | Germany        |
|  42 | Doctor Who                            |   1963 |         839 | 0.00092425  |      8.4 | United Kingdom |
|  43 | The Good, the Bad and the Ugly        |   1966 |         566 | 0.000902005 |      8.8 | Italy          |
|  44 | Singin' in the Rain                   |   1952 |         401 | 0.000871326 |      8.3 | United States  |
|  45 | Night of the Living Dead              |   1968 |         607 | 0.000862439 |      7.9 | United States  |
|  46 | Dumbo                                 |   1941 |         345 | 0.000847299 |      7.2 | United States  |
|  47 | Goldfinger                            |   1964 |         660 | 0.000834747 |      7.7 | United Kingdom |
|  48 | Rocky                                 |   1976 |        1021 | 0.000834696 |      8.1 | United States  |
|  49 | Dr. No                                |   1962 |         359 | 0.000818476 |      7.2 | United Kingdom |
|  50 | The Simpsons                          |   1989 |        1438 | 0.000816687 |      8.6 | United States  |
|  51 | Jurassic Park                         |   1993 |        1153 | 0.000809869 |      8.1 | United States  |
|  52 | THX 1138                              |   1971 |         137 | 0.00079566  |      6.7 | United States  |
|  53 | The Twilight Zone                     |   1959 |         634 | 0.000789454 |      9   | United States  |
|  54 | The Cabinet of Dr. Caligari           |   1920 |         126 | 0.000786221 |      8.1 | Germany        |
|  55 | Twin Peaks                            |   1990 |         297 | 0.000777615 |      8.8 | United States  |
|  56 | Titanic                               |   1997 |        1098 | 0.000775786 |      7.8 | United States  |
|  57 | Star Wars: Episode VI - Return of ... |   1983 |        1065 | 0.000765452 |      8.3 | United States  |
|  58 | A Nightmare on Elm Street             |   1984 |         901 | 0.000761528 |      7.5 | United States  |
|  59 | Greed                                 |   1924 |          27 | 0.000745822 |      8.1 | United States  |
|  60 | Dracula                               |   1931 |         482 | 0.000743429 |      7.5 | United States  |
|  61 | Scarface                              |   1983 |         873 | 0.000743013 |      8.3 | United States  |
|  62 | The Flintstones                       |   1960 |         899 | 0.000742411 |      7.5 | United States  |
|  63 | Blade Runner                          |   1982 |         594 | 0.000733377 |      8.1 | United States  |
|  64 | The Matrix                            |   1999 |        1071 | 0.000719909 |      8.7 | United States  |
|  65 | Batman                                |   1966 |         790 | 0.00070505  |      7.5 | United States  |
|  66 | The Bridge on the River Kwai          |   1957 |         161 | 0.000689305 |      8.1 | United Kingdom |
|  67 | Dirty Harry                           |   1971 |         555 | 0.00068618  |      7.7 | United States  |
|  68 | Ben-Hur                               |   1959 |         280 | 0.000685168 |      8.1 | United States  |
|  69 | Pulp Fiction                          |   1994 |         973 | 0.000681065 |      8.9 | United States  |
|  70 | Terminator 2: Judgment Day            |   1991 |         827 | 0.000674166 |      8.5 | United States  |
|  71 | The Golem                             |   1920 |          21 | 0.00067043  |      7.2 | Germany        |
|  72 | Mary Poppins                          |   1964 |         678 | 0.000669223 |      7.8 | United States  |
|  73 | First Blood                           |   1982 |         663 | 0.000668551 |      7.7 | United States  |
|  74 | The Silence of the Lambs              |   1991 |         855 | 0.000659534 |      8.6 | United States  |
|  75 | Mr. Smith Goes to Washington          |   1939 |         133 | 0.00065893  |      8.1 | United States  |
|  76 | Peyton Place                          |   1957 |          31 | 0.000640682 |      7.2 | United States  |
|  77 | Rear Window                           |   1954 |         308 | 0.000640049 |      8.5 | United States  |
|  78 | Rambo: First Blood Part II            |   1985 |         193 | 0.00063661  |      6.5 | United States  |
|  79 | Lawrence of Arabia                    |   1962 |         319 | 0.000633899 |      8.3 | United Kingdom |
|  80 | Halloween                             |   1978 |         655 | 0.000628077 |      7.7 | United States  |
|  81 | Un Chien Andalou                      |   1929 |         105 | 0.000617533 |      7.7 | France         |
|  82 | Close Encounters of the Third Kind    |   1977 |         535 | 0.000615608 |      7.6 | United States  |
|  83 | Aliens                                |   1986 |         642 | 0.000613583 |      8.3 | United Kingdom |
|  84 | The Texas Chain Saw Massacre          |   1974 |         585 | 0.000596799 |      7.5 | United States  |
|  85 | Game of Thrones                       |   2011 |         999 | 0.000596492 |      9.2 | United States  |
|  86 | Die Hard                              |   1988 |         830 | 0.000591084 |      8.2 | United States  |
|  87 | The Muppet Show                       |   1976 |         696 | 0.000590354 |      8.4 | United States  |
|  88 | Deliverance                           |   1972 |         443 | 0.000589961 |      7.7 | United States  |
|  89 | The Honeymooners                      |   1955 |         241 | 0.000586507 |      8.6 | United States  |
|  90 | North by Northwest                    |   1959 |         255 | 0.000575724 |      8.3 | United States  |
|  91 | Seven Samurai                         |   1954 |         149 | 0.000571014 |      8.6 | Japan          |
|  92 | Tarzan the Ape Man                    |   1932 |         118 | 0.000570751 |      7   | United States  |
|  93 | The Birds                             |   1963 |         331 | 0.000570088 |      7.7 | United States  |
|  94 | M                                     |   1931 |         101 | 0.000569694 |      8.3 | Germany        |
|  95 | Saturday Night Live                   |   1975 |        1101 | 0.000567361 |      8   | United States  |
|  96 | Quo Vadis                             |   1951 |          33 | 0.000563907 |      7.2 | United States  |
|  97 | The Lion King                         |   1994 |         873 | 0.000561007 |      8.5 | United States  |
|  98 | Mutiny on the Bounty                  |   1935 |          79 | 0.000558047 |      7.7 | United States  |
|  99 | Duel                                  |   1971 |          69 | 0.000555547 |      7.6 | United States  |
| 100 | The Lost World                        |   1925 |          27 | 0.000552686 |      7   | United States  |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
Animated movies sorted by PR
+----+-----+---------------------------------+--------+-------------+-------------+----------+---------------+
|    |   # | title                           |   year |   inputRefs |          pR |   rating | country       |
|----+-----+---------------------------------+--------+-------------+-------------+----------+---------------|
|  0 |  11 | Snow White and the Seven Dwarfs |   1937 |         840 | 0.00209014  |      7.6 | United States |
|  1 |  22 | Sesame Street                   |   1969 |        1500 | 0.00128074  |      8.1 | United States |
|  2 |  39 | Bambi                           |   1942 |         554 | 0.000970815 |      7.3 | United States |
|  3 |  46 | Dumbo                           |   1941 |         345 | 0.000847299 |      7.2 | United States |
|  4 |  50 | The Simpsons                    |   1989 |        1438 | 0.000816687 |      8.6 | United States |
|  5 |  62 | The Flintstones                 |   1960 |         899 | 0.000742411 |      7.5 | United States |
|  6 |  97 | The Lion King                   |   1994 |         873 | 0.000561007 |      8.5 | United States |
|  7 | 101 | Scooby Doo, Where Are You!      |   1969 |         703 | 0.000551484 |      7.9 | United States |
|  8 | 104 | Pinocchio                       |   1940 |         486 | 0.00053197  |      7.4 | United States |
|  9 | 116 | Lady and the Tramp              |   1955 |         271 | 0.000488494 |      7.3 | United States |
| 10 | 122 | Cinderella                      |   1950 |         355 | 0.000483436 |      7.3 | United States |
| 11 | 165 | Peter Pan                       |   1953 |         346 | 0.00038761  |      7.3 | United States |
| 12 | 180 | Three Little Pigs               |   1933 |          55 | 0.000356744 |      7.5 | United States |
| 13 | 181 | Toy Story                       |   1995 |         596 | 0.000355905 |      8.3 | United States |
| 14 | 198 | The Little Mermaid              |   1989 |         516 | 0.000343985 |      7.6 | United States |
| 15 | 212 | SpongeBob SquarePants           |   1999 |         606 | 0.00032953  |      8.2 | United States |
| 16 | 248 | Heavy Metal                     |   1981 |          61 | 0.000294189 |      6.7 | Canada        |
| 17 | 249 | The Bullwinkle Show             |   1959 |         255 | 0.000294132 |      7.7 | United States |
| 18 | 253 | The Sword in the Stone          |   1963 |          70 | 0.000293104 |      7.2 | United States |
| 19 | 278 | Steamboat Willie                |   1928 |          91 | 0.000273134 |      7.6 | United States |
+----+-----+---------------------------------+--------+-------------+-------------+----------+---------------+
Adult movies sorted by PR
+----+------+-------------------------------+--------+-------------+-------------+----------+---------------+
|    |    # | title                         |   year |   inputRefs |          pR |   rating | country       |
|----+------+-------------------------------+--------+-------------+-------------+----------+---------------|
|  0 |  120 | Deep Throat                   |   1972 |         206 | 0.000485541 |      5.1 | United States |
|  1 |  675 | Debbie Does Dallas            |   1978 |         116 | 0.000128548 |      6   | United States |
|  2 | 1859 | Behind the Green Door         |   1972 |          45 | 4.37313e-05 |      6   | United States |
|  3 | 1928 | Hungry Bitches                |   2007 |          33 | 4.1518e-05  |      4.5 | Brazil        |
|  4 | 2081 | The Devil in Miss Jones       |   1973 |          46 | 3.78242e-05 |      6.3 | United States |
|  5 | 2669 | Forced Entry                  |   1973 |          11 | 2.78671e-05 |      5.1 | United States |
|  6 | 2708 | 1 Night in Paris              |   2004 |          45 | 2.73406e-05 |      4.5 | United States |
|  7 | 3558 | Water Power                   |   1977 |          15 | 1.93263e-05 |      6.2 | United States |
|  8 | 5174 | The Party at Kitty and Stud's |   1970 |          17 | 1.16457e-05 |      2.6 | United States |
|  9 | 5410 | Kim Kardashian, Superstar     |   2007 |          14 | 1.09083e-05 |      5.4 | United States |
+----+------+-------------------------------+--------+-------------+-------------+----------+---------------+

In [32]:
the_smallest_rating = 10
the_smallest_rating_elem = [{}]
for (i, elem) in enumerate(sorted_filteres_movies_data[:100]):
    if elem["rating"] < the_smallest_rating and elem["rating"] > 0:
        the_smallest_rating = elem["rating"]
        the_smallest_rating_elem[0] = elem
print("Movie with the smallest PR in the top 100 movies sorted by PR")
print(tabulate(pd.DataFrame.from_dict(display_data(the_smallest_rating_elem, 1)).set_index('#'), headers='keys', tablefmt='psql'))

Movie with the smallest PR in the top 100 movies sorted by PR
+-----+-----------------------+--------+-------------+-----------+----------+---------------+
|   # | title                 |   year |   inputRefs |        pR |   rating | country       |
|-----+-----------------------+--------+-------------+-----------+----------+---------------|
|  10 | The Birth of a Nation |   1915 |         102 | 0.0021417 |      6.3 | United States |
+-----+-----------------------+--------+-------------+-----------+----------+---------------+

In [33]:
movies_data_by_decade = {}
sum_pr_by_decade = {}
num_movies_by_decade = {}

for movieData in sorted_filteres_movies_data:
    if movieData["startYear"] == 0:
        continue
    normalize_year = math.floor(movieData["startYear"]/10) * 10
    if normalize_year in movies_data_by_decade:
        movies_data_by_decade[normalize_year].append(movieData)
        sum_pr_by_decade[normalize_year] = sum_pr_by_decade[normalize_year] + movieData["pRank"]
        num_movies_by_decade[normalize_year] = num_movies_by_decade[normalize_year] + 1
    else:
        movies_data_by_decade[normalize_year] = [movieData]
        sum_pr_by_decade[normalize_year] = movieData["pRank"]
        num_movies_by_decade[normalize_year] = 1

sorted_data_by_decade = dict(sorted(movies_data_by_decade.items()))

pr_by_decades_df = [
    {
        "decade": k,
        "numMovies": num_movies_by_decade[k], 
        "sumPr": v
    } for (k, v) in sum_pr_by_decade.items()]

pr_by_decades_df_sorted = sorted(pr_by_decades_df, key=lambda item: item["sumPr"], reverse=True)

print("Summirized PR by decade")
print(tabulate(pd.DataFrame.from_dict(pr_by_decades_df_sorted), headers='keys', tablefmt='psql'))

print("Top 10 movies by PR by decade")
for decade, data in sorted_data_by_decade.items():
    print(decade)
    sorted_decade_by_pr = sorted(data, key=lambda item: item["pRank"], reverse=True)
    print(tabulate(pd.DataFrame.from_dict(display_data(sorted_decade_by_pr, 10)).set_index('#'), headers='keys', tablefmt='psql'))

Summirized PR by decade
+----+----------+-------------+-------------+
|    |   decade |   numMovies |       sumPr |
|----+----------+-------------+-------------|
|  0 |     1980 |        1341 | 0.0745303   |
|  1 |     1970 |         880 | 0.0646023   |
|  2 |     1960 |         642 | 0.0625806   |
|  3 |     1990 |        1404 | 0.0514167   |
|  4 |     1950 |         443 | 0.0426823   |
|  5 |     2000 |        1427 | 0.0357362   |
|  6 |     1930 |         183 | 0.0347147   |
|  7 |     1940 |         222 | 0.0286511   |
|  8 |     2010 |        1125 | 0.0202689   |
|  9 |     1920 |          56 | 0.0127906   |
| 10 |     1910 |          10 | 0.00298165  |
| 11 |     2020 |          83 | 0.00174769  |
| 12 |     1900 |           2 | 0.000436643 |
+----+----------+-------------+-------------+
Top 10 movies by PR by decade
1900
+------+-------------------------+--------+-------------+-------------+----------+---------------+
|    # | title                   |   year |   inputRefs |          pR |   rating | country       |
|------+-------------------------+--------+-------------+-------------+----------+---------------|
|  171 | The Great Train Robbery |   1903 |          56 | 0.000372736 |      7.3 | United States |
| 1331 | A Trip to the Moon      |   1902 |          54 | 6.39069e-05 |      8.2 | France        |
+------+-------------------------+--------+-------------+-------------+----------+---------------+
1910
+------+------------------------+--------+-------------+-------------+----------+---------------+
|    # | title                  |   year |   inputRefs |          pR |   rating | country       |
|------+------------------------+--------+-------------+-------------+----------+---------------|
|   10 | The Birth of a Nation  |   1915 |         102 | 0.0021417   |      6.3 | United States |
|  159 | Intolerance            |   1916 |          30 | 0.000403211 |      7.7 | United States |
|  231 | Broken Blossoms        |   1919 |          15 | 0.000306758 |      7.3 | United States |
| 2480 | The Exploits of Elaine |   1914 |          47 | 3.06203e-05 |      6.5 | United States |
| 2684 | The Perils of Pauline  |   1914 |          17 | 2.76365e-05 |      6.3 | United States |
| 2798 | Dante's Inferno        |   1911 |          19 | 2.61333e-05 |      7   | Italy         |
| 4483 | Tarzan of the Apes     |   1918 |          14 | 1.42069e-05 |      5.8 | United States |
| 4681 | Frankenstein           |   1910 |          12 | 1.34198e-05 |      6.4 | United States |
| 5598 | The Adventurer         |   1917 |          11 | 1.03578e-05 |      7.4 | United States |
| 6505 | Shoulder Arms          |   1918 |          11 | 7.60484e-06 |      7.3 | United States |
+------+------------------------+--------+-------------+-------------+----------+---------------+
1920
+-----+-----------------------------+--------+-------------+-------------+----------+---------------+
|   # | title                       |   year |   inputRefs |          pR |   rating | country       |
|-----+-----------------------------+--------+-------------+-------------+----------+---------------|
|   5 | Metropolis                  |   1927 |         283 | 0.00281159  |      8.3 | Germany       |
|  24 | Battleship Potemkin         |   1925 |         154 | 0.00126263  |      8   | Soviet Union  |
|  41 | Nosferatu                   |   1922 |         272 | 0.000935322 |      7.9 | Germany       |
|  54 | The Cabinet of Dr. Caligari |   1920 |         126 | 0.000786221 |      8.1 | Germany       |
|  59 | Greed                       |   1924 |          27 | 0.000745822 |      8.1 | United States |
|  71 | The Golem                   |   1920 |          21 | 0.00067043  |      7.2 | Germany       |
|  81 | Un Chien Andalou            |   1929 |         105 | 0.000617533 |      7.7 | France        |
| 100 | The Lost World              |   1925 |          27 | 0.000552686 |      7   | United States |
| 118 | The Circus                  |   1928 |          18 | 0.000486627 |      8.1 | United States |
| 127 | The General                 |   1926 |          35 | 0.000472594 |      8.1 | United States |
+-----+-----------------------------+--------+-------------+-------------+----------+---------------+
1930
+-----+---------------------------------+--------+-------------+-------------+----------+---------------+
|   # | title                           |   year |   inputRefs |          pR |   rating | country       |
|-----+---------------------------------+--------+-------------+-------------+----------+---------------|
|   1 | The Wizard of Oz                |   1939 |        3405 | 0.00740026  |      8   | United States |
|   4 | King Kong                       |   1933 |        1039 | 0.00293679  |      7.9 | United States |
|  11 | Snow White and the Seven Dwarfs |   1937 |         840 | 0.00209014  |      7.6 | United States |
|  15 | Gone with the Wind              |   1939 |        1189 | 0.00156575  |      8.1 | United States |
|  17 | Frankenstein                    |   1931 |         876 | 0.0013589   |      7.8 | United States |
|  35 | The Grand Illusion              |   1937 |          39 | 0.00104836  |      8.1 | France        |
|  60 | Dracula                         |   1931 |         482 | 0.000743429 |      7.5 | United States |
|  75 | Mr. Smith Goes to Washington    |   1939 |         133 | 0.00065893  |      8.1 | United States |
|  92 | Tarzan the Ape Man              |   1932 |         118 | 0.000570751 |      7   | United States |
|  94 | M                               |   1931 |         101 | 0.000569694 |      8.3 | Germany       |
+-----+---------------------------------+--------+-------------+-------------+----------+---------------+
1940
+-----+----------------------------------+--------+-------------+-------------+----------+---------------+
|   # | title                            |   year |   inputRefs |          pR |   rating | country       |
|-----+----------------------------------+--------+-------------+-------------+----------+---------------|
|   2 | Citizen Kane                     |   1941 |        1163 | 0.00553099  |      8.3 | United States |
|   7 | Casablanca                       |   1942 |        1501 | 0.00243122  |      8.5 | United States |
|  27 | It's a Wonderful Life            |   1946 |         653 | 0.00115169  |      8.6 | United States |
|  30 | Shadow of a Doubt                |   1943 |          46 | 0.00111278  |      7.8 | United States |
|  39 | Bambi                            |   1942 |         554 | 0.000970815 |      7.3 | United States |
|  46 | Dumbo                            |   1941 |         345 | 0.000847299 |      7.2 | United States |
| 104 | Pinocchio                        |   1940 |         486 | 0.00053197  |      7.4 | United States |
| 117 | The Treasure of the Sierra Madre |   1948 |         186 | 0.0004884   |      8.2 | United States |
| 119 | All Through the Night            |   1942 |          23 | 0.000486188 |      7.1 | United States |
| 123 | The Lone Ranger                  |   1949 |         335 | 0.000477925 |      7.8 | United States |
+-----+----------------------------------+--------+-------------+-------------+----------+---------------+
1950
+-----+------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                        |   year |   inputRefs |          pR |   rating | country        |
|-----+------------------------------+--------+-------------+-------------+----------+----------------|
|  18 | The Searchers                |   1956 |         143 | 0.00133993  |      7.9 | United States  |
|  25 | Godzilla                     |   1954 |        1073 | 0.00126139  |      7.6 | Japan          |
|  29 | Vertigo                      |   1958 |         444 | 0.00114439  |      8.3 | United States  |
|  44 | Singin' in the Rain          |   1952 |         401 | 0.000871326 |      8.3 | United States  |
|  53 | The Twilight Zone            |   1959 |         634 | 0.000789454 |      9   | United States  |
|  66 | The Bridge on the River Kwai |   1957 |         161 | 0.000689305 |      8.1 | United Kingdom |
|  68 | Ben-Hur                      |   1959 |         280 | 0.000685168 |      8.1 | United States  |
|  76 | Peyton Place                 |   1957 |          31 | 0.000640682 |      7.2 | United States  |
|  77 | Rear Window                  |   1954 |         308 | 0.000640049 |      8.5 | United States  |
|  89 | The Honeymooners             |   1955 |         241 | 0.000586507 |      8.6 | United States  |
+-----+------------------------------+--------+-------------+-------------+----------+----------------+
1960
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|   6 | Star Trek: The Original Series        |   1966 |        2694 | 0.0025909   |      8.3 | United States  |
|   8 | Psycho                                |   1960 |        1485 | 0.00240475  |      8.5 | United States  |
|   9 | 2001: A Space Odyssey                 |   1968 |        1085 | 0.00220277  |      8.3 | United Kingdom |
|  22 | Sesame Street                         |   1969 |        1500 | 0.00128074  |      8.1 | United States  |
|  31 | Dr. Strangelove or: How I Learned ... |   1964 |         421 | 0.00108849  |      8.4 | United Kingdom |
|  36 | The Sweet Life                        |   1960 |         160 | 0.00102348  |      8   | Italy          |
|  37 | Rosemary's Baby                       |   1968 |         388 | 0.00101532  |      8   | United States  |
|  38 | The Sound of Music                    |   1965 |         753 | 0.00101332  |      8   | United States  |
|  42 | Doctor Who                            |   1963 |         839 | 0.00092425  |      8.4 | United Kingdom |
|  43 | The Good, the Bad and the Ugly        |   1966 |         566 | 0.000902005 |      8.8 | Italy          |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
1970
+-----+------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                              |   year |   inputRefs |          pR |   rating | country        |
|-----+------------------------------------+--------+-------------+-------------+----------+----------------|
|   3 | Star Wars: Episode IV - A New Hope |   1977 |        5370 | 0.00455308  |      8.6 | United States  |
|  13 | The Godfather                      |   1972 |        1785 | 0.00191543  |      9.2 | United States  |
|  14 | Jaws                               |   1975 |        1578 | 0.0017549   |      8   | United States  |
|  19 | Apocalypse Now                     |   1979 |         914 | 0.00130937  |      8.4 | United States  |
|  23 | The Exorcist                       |   1973 |         937 | 0.0012684   |      8   | United States  |
|  26 | Taxi Driver                        |   1976 |         837 | 0.00124502  |      8.2 | United States  |
|  33 | Alien                              |   1979 |        1026 | 0.00106166  |      8.4 | United Kingdom |
|  34 | A Clockwork Orange                 |   1971 |         670 | 0.00105967  |      8.3 | United Kingdom |
|  48 | Rocky                              |   1976 |        1021 | 0.000834696 |      8.1 | United States  |
|  52 | THX 1138                           |   1971 |         137 | 0.00079566  |      6.7 | United States  |
+-----+------------------------------------+--------+-------------+-------------+----------+----------------+
1980
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|  12 | The Terminator                        |   1984 |        1423 | 0.00192913  |      8   | United Kingdom |
|  16 | Star Wars: Episode V - The Empire ... |   1980 |        1835 | 0.00148389  |      8.7 | United States  |
|  20 | The Shining                           |   1980 |        1213 | 0.00129154  |      8.4 | United Kingdom |
|  21 | Indiana Jones and the Raiders of t... |   1981 |        1446 | 0.00128123  |      8.4 | United States  |
|  28 | E.T. the Extra-Terrestrial            |   1982 |        1375 | 0.00114729  |      7.8 | United States  |
|  32 | Ghostbusters                          |   1984 |        1319 | 0.00106646  |      7.8 | United States  |
|  40 | Back to the Future                    |   1985 |        1303 | 0.000965348 |      8.5 | United States  |
|  50 | The Simpsons                          |   1989 |        1438 | 0.000816687 |      8.6 | United States  |
|  57 | Star Wars: Episode VI - Return of ... |   1983 |        1065 | 0.000765452 |      8.3 | United States  |
|  58 | A Nightmare on Elm Street             |   1984 |         901 | 0.000761528 |      7.5 | United States  |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
1990
+-----+----------------------------+--------+-------------+-------------+----------+---------------+
|   # | title                      |   year |   inputRefs |          pR |   rating | country       |
|-----+----------------------------+--------+-------------+-------------+----------+---------------|
|  51 | Jurassic Park              |   1993 |        1153 | 0.000809869 |      8.1 | United States |
|  55 | Twin Peaks                 |   1990 |         297 | 0.000777615 |      8.8 | United States |
|  56 | Titanic                    |   1997 |        1098 | 0.000775786 |      7.8 | United States |
|  64 | The Matrix                 |   1999 |        1071 | 0.000719909 |      8.7 | United States |
|  69 | Pulp Fiction               |   1994 |         973 | 0.000681065 |      8.9 | United States |
|  70 | Terminator 2: Judgment Day |   1991 |         827 | 0.000674166 |      8.5 | United States |
|  74 | The Silence of the Lambs   |   1991 |         855 | 0.000659534 |      8.6 | United States |
|  97 | The Lion King              |   1994 |         873 | 0.000561007 |      8.5 | United States |
| 108 | The X-Files                |   1993 |         675 | 0.000525198 |      8.6 | United States |
| 129 | Friends                    |   1994 |         817 | 0.000460628 |      8.9 | United States |
+-----+----------------------------+--------+-------------+-------------+----------+---------------+
2000
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
| 137 | The Lord of the Rings: The Fellows... |   2001 |         838 | 0.000440967 |      8.8 | New Zealand    |
| 218 | Survivor                              |   2000 |         345 | 0.000325701 |      7.2 | United States  |
| 230 | American Idol                         |   2002 |         554 | 0.000308002 |      4.1 | United States  |
| 262 | The Passion of the Christ             |   2004 |         129 | 0.000284036 |      7.2 | United States  |
| 264 | Breaking Bad                          |   2008 |         534 | 0.000283191 |      9.4 | United States  |
| 282 | Doctor Who                            |   2005 |         425 | 0.000271633 |      8.6 | United Kingdom |
| 308 | Dancing with the Stars                |   2005 |         449 | 0.000250543 |      4.7 | United States  |
| 327 | Lost                                  |   2004 |         430 | 0.000240445 |      8.3 | United States  |
| 334 | CSI: Crime Scene Investigation        |   2000 |         314 | 0.000233934 |      7.6 | United States  |
| 336 | Twilight                              |   2008 |         441 | 0.000229665 |      5.2 | United States  |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
2010
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|  85 | Game of Thrones                       |   2011 |         999 | 0.000596492 |      9.2 | United States  |
| 340 | Frozen                                |   2013 |         486 | 0.000228096 |      7.4 | United States  |
| 380 | Downton Abbey                         |   2010 |         280 | 0.000210535 |      8.7 | United Kingdom |
| 384 | The Walking Dead                      |   2010 |         393 | 0.000208353 |      8.2 | United States  |
| 404 | Star Wars: Episode IX - The Rise o... |   2019 |         197 | 0.000197671 |      6.5 | United States  |
| 448 | The Avengers                          |   2012 |         356 | 0.000185847 |      8   | United States  |
| 549 | Skyfall                               |   2012 |         216 | 0.000155239 |      7.7 | United Kingdom |
| 555 | The Hunger Games                      |   2012 |         297 | 0.000154027 |      7.2 | United States  |
| 572 | Star Wars: Episode VII - The Force... |   2015 |         320 | 0.000149833 |      7.8 | United States  |
| 644 | The Legend of Zelda: The Wind Wake... |   2013 |          76 | 0.000135112 |      9   | Japan          |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
2020
+------+---------------------------------------+--------+-------------+-------------+----------+----------------+
|    # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|------+---------------------------------------+--------+-------------+-------------+----------+----------------|
|  582 | Cuties                                |   2020 |          93 | 0.000148483 |      3.2 | France         |
|  703 | Sky News: George Floyd Killing - T... |   2021 |          77 | 0.000123361 |      0   | United Kingdom |
|  779 | The Death of George Floyd             |   2020 |          67 | 0.000110773 |      4.4 | United States  |
| 1094 | Tokyo 2020: Games of the XXXII Oly... |   2021 |          46 | 7.90206e-05 |      6.4 | Japan          |
| 1463 | Birds of Prey                         |   2020 |          48 | 5.80222e-05 |      6.1 | United States  |
| 1590 | Climate After Covid: A Green Recov... |   2020 |          34 | 5.24039e-05 |      0   | United Kingdom |
| 1657 | Sky News: Funeral of the Duke of E... |   2021 |          32 | 5.05307e-05 |      0   | United Kingdom |
| 1749 | Mulan                                 |   2020 |          76 | 4.71186e-05 |      5.7 | United States  |
| 1861 | The 93rd Oscars                       |   2021 |          31 | 4.35899e-05 |      3.5 | United States  |
| 1964 | Sonic the Hedgehog                    |   2020 |          67 | 4.07717e-05 |      6.5 | United States  |
+------+---------------------------------------+--------+-------------+-------------+----------+----------------+

In [34]:
movies_data_by_country = {}

for movieData in sorted_filteres_movies_data:
    if movieData["country"] == "":
        continue
    if movieData["country"] in movies_data_by_country:
        movies_data_by_country[movieData["country"]].append(movieData)
    else:
        movies_data_by_country[movieData["country"]] = [movieData]

print("Top 10 movies by PR by contries")
for country, data in movies_data_by_country.items():
    print(country)
    sorted_country_by_pr = sorted(data, key=lambda item: item["pRank"], reverse=True)
    print(tabulate(pd.DataFrame.from_dict(display_data(sorted_country_by_pr, 10)).set_index('#'), headers='keys', tablefmt='psql'))

Top 10 movies by PR by contries
United States
+-----+------------------------------------+--------+-------------+------------+----------+---------------+
|   # | title                              |   year |   inputRefs |         pR |   rating | country       |
|-----+------------------------------------+--------+-------------+------------+----------+---------------|
|   1 | The Wizard of Oz                   |   1939 |        3405 | 0.00740026 |      8   | United States |
|   2 | Citizen Kane                       |   1941 |        1163 | 0.00553099 |      8.3 | United States |
|   3 | Star Wars: Episode IV - A New Hope |   1977 |        5370 | 0.00455308 |      8.6 | United States |
|   4 | King Kong                          |   1933 |        1039 | 0.00293679 |      7.9 | United States |
|   6 | Star Trek: The Original Series     |   1966 |        2694 | 0.0025909  |      8.3 | United States |
|   7 | Casablanca                         |   1942 |        1501 | 0.00243122 |      8.5 | United States |
|   8 | Psycho                             |   1960 |        1485 | 0.00240475 |      8.5 | United States |
|  10 | The Birth of a Nation              |   1915 |         102 | 0.0021417  |      6.3 | United States |
|  11 | Snow White and the Seven Dwarfs    |   1937 |         840 | 0.00209014 |      7.6 | United States |
|  13 | The Godfather                      |   1972 |        1785 | 0.00191543 |      9.2 | United States |
+-----+------------------------------------+--------+-------------+------------+----------+---------------+
Germany
+-----+-----------------------------+--------+-------------+-------------+----------+-----------+
|   # | title                       |   year |   inputRefs |          pR |   rating | country   |
|-----+-----------------------------+--------+-------------+-------------+----------+-----------|
|   5 | Metropolis                  |   1927 |         283 | 0.00281159  |      8.3 | Germany   |
|  41 | Nosferatu                   |   1922 |         272 | 0.000935322 |      7.9 | Germany   |
|  54 | The Cabinet of Dr. Caligari |   1920 |         126 | 0.000786221 |      8.1 | Germany   |
|  71 | The Golem                   |   1920 |          21 | 0.00067043  |      7.2 | Germany   |
|  94 | M                           |   1931 |         101 | 0.000569694 |      8.3 | Germany   |
| 158 | Fight Club                  |   1999 |         506 | 0.000403265 |      8.8 | Germany   |
| 211 | Triumph of the Will         |   1935 |          58 | 0.000329559 |      7.3 | Germany   |
| 371 | The Blue Angel              |   1930 |          74 | 0.000215984 |      7.7 | Germany   |
| 506 | The Testament of Dr. Mabuse |   1933 |          14 | 0.000167285 |      8   | Germany   |
| 891 | Faust                       |   1926 |          19 | 9.71393e-05 |      8.1 | Germany   |
+-----+-----------------------------+--------+-------------+-------------+----------+-----------+
United Kingdom
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|   9 | 2001: A Space Odyssey                 |   1968 |        1085 | 0.00220277  |      8.3 | United Kingdom |
|  12 | The Terminator                        |   1984 |        1423 | 0.00192913  |      8   | United Kingdom |
|  20 | The Shining                           |   1980 |        1213 | 0.00129154  |      8.4 | United Kingdom |
|  31 | Dr. Strangelove or: How I Learned ... |   1964 |         421 | 0.00108849  |      8.4 | United Kingdom |
|  33 | Alien                                 |   1979 |        1026 | 0.00106166  |      8.4 | United Kingdom |
|  34 | A Clockwork Orange                    |   1971 |         670 | 0.00105967  |      8.3 | United Kingdom |
|  42 | Doctor Who                            |   1963 |         839 | 0.00092425  |      8.4 | United Kingdom |
|  47 | Goldfinger                            |   1964 |         660 | 0.000834747 |      7.7 | United Kingdom |
|  49 | Dr. No                                |   1962 |         359 | 0.000818476 |      7.2 | United Kingdom |
|  66 | The Bridge on the River Kwai          |   1957 |         161 | 0.000689305 |      8.1 | United Kingdom |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
Soviet Union
+------+---------------------------+--------+-------------+-------------+----------+--------------+
|    # | title                     |   year |   inputRefs |          pR |   rating | country      |
|------+---------------------------+--------+-------------+-------------+----------+--------------|
|   24 | Battleship Potemkin       |   1925 |         154 | 0.00126263  |      8   | Soviet Union |
|  270 | Alexander Nevsky          |   1938 |          35 | 0.0002793   |      7.6 | Soviet Union |
|  666 | Solaris                   |   1972 |          44 | 0.000131213 |      8.1 | Soviet Union |
| 1213 | Stalker                   |   1979 |          41 | 7.09399e-05 |      8.1 | Soviet Union |
| 1272 | Ivan the Terrible, Part I |   1944 |          14 | 6.75486e-05 |      7.8 | Soviet Union |
| 1668 | Andrei Rublev             |   1966 |          14 | 5.02016e-05 |      8.1 | Soviet Union |
| 2447 | Man with a Movie Camera   |   1929 |          21 | 3.11628e-05 |      8.4 | Soviet Union |
| 2593 | Come and See              |   1985 |          16 | 2.8914e-05  |      8.3 | Soviet Union |
| 2786 | I'll Get You!             |   1969 |          11 | 2.62379e-05 |      8.6 | Soviet Union |
| 3920 | Mirror                    |   1975 |          12 | 1.71663e-05 |      8.1 | Soviet Union |
+------+---------------------------+--------+-------------+-------------+----------+--------------+
Japan
+-----+---------------------+--------+-------------+-------------+----------+-----------+
|   # | title               |   year |   inputRefs |          pR |   rating | country   |
|-----+---------------------+--------+-------------+-------------+----------+-----------|
|  25 | Godzilla            |   1954 |        1073 | 0.00126139  |      7.6 | Japan     |
|  91 | Seven Samurai       |   1954 |         149 | 0.000571014 |      8.6 | Japan     |
| 134 | Yojimbo             |   1961 |          80 | 0.000446485 |      8.2 | Japan     |
| 161 | Galaxian            |   1979 |          38 | 0.000398549 |      7.1 | Japan     |
| 185 | Pac-Man             |   1980 |         432 | 0.00035193  |      7.8 | Japan     |
| 266 | Kagemusha           |   1980 |          22 | 0.000282563 |      8   | Japan     |
| 329 | The Hidden Fortress |   1958 |          30 | 0.000237771 |      8.1 | Japan     |
| 376 | Donkey Kong         |   1981 |         318 | 0.000211272 |      7.4 | Japan     |
| 400 | Super Mario Bros.   |   1985 |         430 | 0.000200222 |      8.9 | Japan     |
| 420 | Akira               |   1988 |         118 | 0.000192833 |      8   | Japan     |
+-----+---------------------+--------+-------------+-------------+----------+-----------+
France
+-----+------------------------+--------+-------------+-------------+----------+-----------+
|   # | title                  |   year |   inputRefs |          pR |   rating | country   |
|-----+------------------------+--------+-------------+-------------+----------+-----------|
|  35 | The Grand Illusion     |   1937 |          39 | 0.00104836  |      8.1 | France    |
|  81 | Un Chien Andalou       |   1929 |         105 | 0.000617533 |      7.7 | France    |
| 111 | The Rules of the Game  |   1939 |          38 | 0.00052003  |      8   | France    |
| 223 | Last Year at Marienbad |   1961 |          36 | 0.000316916 |      7.8 | France    |
| 285 | Jules and Jim          |   1962 |         100 | 0.000269887 |      7.8 | France    |
| 301 | The 400 Blows          |   1959 |          96 | 0.000254465 |      8.1 | France    |
| 332 | L'Atalante             |   1934 |          23 | 0.000235852 |      7.8 | France    |
| 386 | Breathless             |   1960 |         135 | 0.000207626 |      7.8 | France    |
| 540 | Beauty and the Beast   |   1946 |          43 | 0.000157457 |      7.9 | France    |
| 577 | Diabolique             |   1955 |          52 | 0.000149403 |      8.1 | France    |
+-----+------------------------+--------+-------------+-------------+----------+-----------+
Italy
+-----+--------------------------------+--------+-------------+-------------+----------+-----------+
|   # | title                          |   year |   inputRefs |          pR |   rating | country   |
|-----+--------------------------------+--------+-------------+-------------+----------+-----------|
|  36 | The Sweet Life                 |   1960 |         160 | 0.00102348  |      8   | Italy     |
|  43 | The Good, the Bad and the Ugly |   1966 |         566 | 0.000902005 |      8.8 | Italy     |
| 174 | Cannibal Holocaust             |   1980 |         238 | 0.00036587  |      5.8 | Italy     |
| 178 | 8                             |   1963 |         114 | 0.000359692 |      8   | Italy     |
| 204 | Once Upon a Time in the West   |   1968 |         168 | 0.00033393  |      8.5 | Italy     |
| 281 | Suspiria                       |   1977 |         160 | 0.00027185  |      7.4 | Italy     |
| 343 | For a Few Dollars More         |   1965 |         108 | 0.000226848 |      8.2 | Italy     |
| 370 | A Fistful of Dollars           |   1964 |         224 | 0.000216009 |      8   | Italy     |
| 399 | La Strada                      |   1954 |          56 | 0.000200897 |      8   | Italy     |
| 435 | Torso                          |   1973 |          41 | 0.000188839 |      6.5 | Italy     |
+-----+--------------------------------+--------+-------------+-------------+----------+-----------+
New Zealand
+------+---------------------------------------+--------+-------------+-------------+----------+-------------+
|    # | title                                 |   year |   inputRefs |          pR |   rating | country     |
|------+---------------------------------------+--------+-------------+-------------+----------+-------------|
|  137 | The Lord of the Rings: The Fellows... |   2001 |         838 | 0.000440967 |      8.8 | New Zealand |
|  717 | The Lord of the Rings: The Two Tow... |   2002 |         301 | 0.000119943 |      8.7 | New Zealand |
|  929 | The Lord of the Rings: The Return ... |   2003 |         256 | 9.31446e-05 |      8.9 | New Zealand |
| 1665 | The Hobbit: An Unexpected Journey     |   2012 |         105 | 5.03462e-05 |      7.8 | New Zealand |
| 1680 | Bad Taste                             |   1987 |          31 | 4.96357e-05 |      6.6 | New Zealand |
| 1787 | Dead Alive                            |   1992 |          77 | 4.5889e-05  |      7.5 | New Zealand |
| 2784 | The Piano                             |   1993 |          63 | 2.62705e-05 |      7.6 | New Zealand |
| 3135 | The Hobbit: The Desolation of Smau... |   2013 |          57 | 2.29506e-05 |      7.8 | New Zealand |
| 3438 | The Frighteners                       |   1996 |          17 | 2.02801e-05 |      7.1 | New Zealand |
| 3533 | The Hobbit: The Battle of the Five... |   2014 |          45 | 1.95139e-05 |      7.4 | New Zealand |
+------+---------------------------------------+--------+-------------+-------------+----------+-------------+
Hong Kong
+------+-----------------------------+--------+-------------+-------------+----------+-----------+
|    # | title                       |   year |   inputRefs |          pR |   rating | country   |
|------+-----------------------------+--------+-------------+-------------+----------+-----------|
|  147 | Enter the Dragon            |   1973 |         233 | 0.000418808 |      7.7 | Hong Kong |
| 1100 | The Killer                  |   1989 |          58 | 7.86374e-05 |      7.8 | Hong Kong |
| 1198 | Chungking Express           |   1994 |          18 | 7.14315e-05 |      8.1 | Hong Kong |
| 1415 | In the Mood for Love        |   2000 |          18 | 5.97535e-05 |      8.1 | Hong Kong |
| 1439 | Game of Death               |   1978 |          65 | 5.89728e-05 |      6.1 | Hong Kong |
| 1486 | The Way of the Dragon       |   1972 |          38 | 5.70282e-05 |      7.3 | Hong Kong |
| 1561 | Riki-Oh: The Story of Ricky |   1991 |          41 | 5.36666e-05 |      7.1 | Hong Kong |
| 1792 | Hard Boiled                 |   1992 |          48 | 4.57661e-05 |      7.8 | Hong Kong |
| 1989 | Fist of Fury                |   1972 |          46 | 4.02518e-05 |      7.3 | Hong Kong |
| 2249 | Police Story                |   1985 |          20 | 3.48631e-05 |      7.6 | Hong Kong |
+------+-----------------------------+--------+-------------+-------------+----------+-----------+
Australia
+------+----------------------------+--------+-------------+-------------+----------+-----------+
|    # | title                      |   year |   inputRefs |          pR |   rating | country   |
|------+----------------------------+--------+-------------+-------------+----------+-----------|
|  236 | Mad Max 2                  |   1981 |         205 | 0.000302241 |      7.6 | Australia |
|  287 | Mad Max                    |   1979 |         301 | 0.00026803  |      6.9 | Australia |
|  499 | Crocodile Dundee           |   1986 |         232 | 0.000170658 |      6.6 | Australia |
|  761 | Mad Max Beyond Thunderdome |   1985 |         185 | 0.000113235 |      6.3 | Australia |
|  847 | A Cry in the Dark          |   1988 |          41 | 0.000103077 |      6.9 | Australia |
|  875 | Neighbours                 |   1985 |         144 | 0.000100214 |      5.4 | Australia |
|  911 | Babe                       |   1995 |         175 | 9.49854e-05 |      6.8 | Australia |
| 1042 | Prisoner                   |   1979 |          63 | 8.28638e-05 |      8.2 | Australia |
| 1302 | Mad Max: Fury Road         |   2015 |         145 | 6.55546e-05 |      8.1 | Australia |
| 1498 | Dark City                  |   1998 |          49 | 5.67118e-05 |      7.6 | Australia |
+------+----------------------------+--------+-------------+-------------+----------+-----------+
Canada
+------+-------------------------------+--------+-------------+-------------+----------+-----------+
|    # | title                         |   year |   inputRefs |          pR |   rating | country   |
|------+-------------------------------+--------+-------------+-------------+----------+-----------|
|  248 | Heavy Metal                   |   1981 |          61 | 0.000294189 |      6.7 | Canada    |
|  350 | MacGyver                      |   1985 |         298 | 0.000223827 |      7.7 | Canada    |
|  487 | Black Christmas               |   1974 |         106 | 0.000174856 |      7.2 | Canada    |
|  649 | Shivers                       |   1975 |          36 | 0.000133649 |      6.4 | Canada    |
|  693 | Rabid                         |   1977 |          32 | 0.000125985 |      6.3 | Canada    |
|  884 | Quest for Fire                |   1981 |          55 | 9.75293e-05 |      7.3 | Canada    |
|  979 | Scanners                      |   1981 |         102 | 8.84374e-05 |      6.8 | Canada    |
| 1088 | Spider-Man                    |   1967 |          86 | 7.97072e-05 |      7.4 | Canada    |
| 1123 | The Last Temptation of Christ |   1988 |          87 | 7.66448e-05 |      7.5 | Canada    |
| 1255 | The Brood                     |   1979 |          26 | 6.85136e-05 |      6.8 | Canada    |
+------+-------------------------------+--------+-------------+-------------+----------+-----------+
Mexico
+------+---------------------------------------+--------+-------------+-------------+----------+-----------+
|    # | title                                 |   year |   inputRefs |          pR |   rating | country   |
|------+---------------------------------------+--------+-------------+-------------+----------+-----------|
|  314 | El Topo                               |   1970 |          21 | 0.000246748 |      7.4 | Mexico    |
|  859 | The Exterminating Angel               |   1962 |          19 | 0.000101376 |      8.1 | Mexico    |
| 1406 | Romancing the Stone                   |   1984 |          84 | 6.00814e-05 |      6.9 | Mexico    |
| 1503 | Bring Me the Head of Alfredo Garci... |   1974 |          45 | 5.65477e-05 |      7.5 | Mexico    |
| 2196 | The Devil's Rain                      |   1975 |          13 | 3.5743e-05  |      5.1 | Mexico    |
| 2486 | The Holy Mountain                     |   1973 |          21 | 3.04924e-05 |      7.9 | Mexico    |
| 3230 | Pan's Labyrinth                       |   2006 |          64 | 2.21182e-05 |      8.2 | Mexico    |
| 3509 | El Mariachi                           |   1992 |          40 | 1.96786e-05 |      6.9 | Mexico    |
| 3877 | El Chavo del Ocho                     |   1972 |          19 | 1.74049e-05 |      8.6 | Mexico    |
| 3973 | Los Olvidados                         |   1950 |          15 | 1.68008e-05 |      8.3 | Mexico    |
+------+---------------------------------------+--------+-------------+-------------+----------+-----------+
Sweden
+------+------------------------+--------+-------------+-------------+----------+-----------+
|    # | title                  |   year |   inputRefs |          pR |   rating | country   |
|------+------------------------+--------+-------------+-------------+----------+-----------|
|  353 | Persona                |   1966 |          75 | 0.000223187 |      8.1 | Sweden    |
|  368 | The Silence            |   1963 |          23 | 0.000216347 |      7.9 | Sweden    |
|  409 | Hour of the Wolf       |   1968 |          21 | 0.000195724 |      7.6 | Sweden    |
|  479 | Hxan                  |   1922 |          14 | 0.000175851 |      7.7 | Sweden    |
|  602 | The Seventh Seal       |   1957 |         116 | 0.000144275 |      8.2 | Sweden    |
|  781 | Minecraft              |   2009 |         178 | 0.00011059  |      8.5 | Sweden    |
|  916 | Wild Strawberries      |   1957 |          41 | 9.4545e-05  |      8.2 | Sweden    |
| 1111 | The Virgin Spring      |   1960 |          22 | 7.75053e-05 |      8.1 | Sweden    |
| 1587 | Scenes from a Marriage |   1973 |          27 | 5.25136e-05 |      8.5 | Sweden    |
| 1698 | Cries & Whispers       |   1972 |          29 | 4.88046e-05 |      8.1 | Sweden    |
+------+------------------------+--------+-------------+-------------+----------+-----------+
West Germany
+------+---------------------------+--------+-------------+-------------+----------+--------------+
|    # | title                     |   year |   inputRefs |          pR |   rating | country      |
|------+---------------------------+--------+-------------+-------------+----------+--------------|
|  528 | Aguirre, the Wrath of God |   1972 |          31 | 0.000161033 |      7.9 | West Germany |
|  773 | Das Boot                  |   1981 |         100 | 0.000111649 |      8.3 | West Germany |
|  905 | The NeverEnding Story     |   1984 |         154 | 9.61744e-05 |      7.4 | West Germany |
| 1066 | Paris, Texas              |   1984 |          40 | 8.11281e-05 |      8.1 | West Germany |
| 1731 | Being There               |   1979 |          54 | 4.77976e-05 |      8   | West Germany |
| 1975 | The Name of the Rose      |   1986 |          29 | 4.0529e-05  |      7.7 | West Germany |
| 1999 | Autumn Sonata             |   1978 |          12 | 4.00032e-05 |      8.2 | West Germany |
| 2002 | Fitzcarraldo              |   1982 |          33 | 3.99524e-05 |      8.1 | West Germany |
| 2107 | Hair                      |   1979 |          69 | 3.734e-05   |      7.6 | West Germany |
| 2194 | Cruising                  |   1980 |          59 | 3.57724e-05 |      6.5 | West Germany |
+------+---------------------------+--------+-------------+-------------+----------+--------------+
Switzerland

In [35]:
sort_by_refs = sorted(sorted_filteres_movies_data, key=lambda item: item["inputRefs"], reverse=True)
sort_by_user_reviews = sorted(sorted_filteres_movies_data, key=lambda item: item["userReviews"], reverse=True)
sort_by_critic_reviews = sorted(sorted_filteres_movies_data, key=lambda item: item["criticReviews"], reverse=True)

display_data_reviews = lambda data, num: [
    {
        '#': m['#'],
        'title': m['title'][:35]+"..." if len(m['title']) > 35 else m['title'],
        'year': m['startYear'],
        'rating': m['rating'],
        'userReviews': m['userReviews'],
        'criticReviews': m['criticReviews'],

    } for m in data[:num]]

print("Top 20 by input refs")
print(tabulate(pd.DataFrame.from_dict(display_data(sort_by_refs, 20)).set_index('#'), headers='keys', tablefmt='psql'))
print("Top 20 by user reviews")
print(tabulate(pd.DataFrame.from_dict(display_data_reviews(sort_by_user_reviews, 20)).set_index('#'), headers='keys', tablefmt='psql'))
print("Top 20 by critic reviews")
print(tabulate(pd.DataFrame.from_dict(display_data_reviews(sort_by_critic_reviews, 20)).set_index('#'), headers='keys', tablefmt='psql'))

Top 20 by input refs
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
|   # | title                                 |   year |   inputRefs |          pR |   rating | country        |
|-----+---------------------------------------+--------+-------------+-------------+----------+----------------|
|   3 | Star Wars: Episode IV - A New Hope    |   1977 |        5370 | 0.00455308  |      8.6 | United States  |
|   1 | The Wizard of Oz                      |   1939 |        3405 | 0.00740026  |      8   | United States  |
|   6 | Star Trek: The Original Series        |   1966 |        2694 | 0.0025909   |      8.3 | United States  |
|  16 | Star Wars: Episode V - The Empire ... |   1980 |        1835 | 0.00148389  |      8.7 | United States  |
|  13 | The Godfather                         |   1972 |        1785 | 0.00191543  |      9.2 | United States  |
|  14 | Jaws                                  |   1975 |        1578 | 0.0017549   |      8   | United States  |
|   7 | Casablanca                            |   1942 |        1501 | 0.00243122  |      8.5 | United States  |
|  22 | Sesame Street                         |   1969 |        1500 | 0.00128074  |      8.1 | United States  |
|   8 | Psycho                                |   1960 |        1485 | 0.00240475  |      8.5 | United States  |
|  21 | Indiana Jones and the Raiders of t... |   1981 |        1446 | 0.00128123  |      8.4 | United States  |
|  50 | The Simpsons                          |   1989 |        1438 | 0.000816687 |      8.6 | United States  |
|  12 | The Terminator                        |   1984 |        1423 | 0.00192913  |      8   | United Kingdom |
|  28 | E.T. the Extra-Terrestrial            |   1982 |        1375 | 0.00114729  |      7.8 | United States  |
|  32 | Ghostbusters                          |   1984 |        1319 | 0.00106646  |      7.8 | United States  |
|  40 | Back to the Future                    |   1985 |        1303 | 0.000965348 |      8.5 | United States  |
|  20 | The Shining                           |   1980 |        1213 | 0.00129154  |      8.4 | United Kingdom |
|  15 | Gone with the Wind                    |   1939 |        1189 | 0.00156575  |      8.1 | United States  |
|   2 | Citizen Kane                          |   1941 |        1163 | 0.00553099  |      8.3 | United States  |
|  51 | Jurassic Park                         |   1993 |        1153 | 0.000809869 |      8.1 | United States  |
|  95 | Saturday Night Live                   |   1975 |        1101 | 0.000567361 |      8   | United States  |
+-----+---------------------------------------+--------+-------------+-------------+----------+----------------+
Top 20 by user reviews
+------+----------------------------------------+--------+----------+---------------+-----------------+
|    # | title                                  |   year |   rating |   userReviews |   criticReviews |
|------+----------------------------------------+--------+----------+---------------+-----------------|
| 1051 | Joker                                  |   2019 |      8.4 |         11000 |             743 |
|  191 | The Shawshank Redemption               |   1994 |      9.3 |          9400 |             185 |
| 1008 | Avengers: Endgame                      |   2019 |      8.4 |          9300 |             582 |
|  404 | Star Wars: Episode IX - The Rise of... |   2019 |      6.5 |          7900 |             518 |
| 2776 | Zack Snyder's Justice League           |   2021 |      8.1 |          7700 |             290 |
|  469 | The Dark Knight                        |   2008 |      9   |          7600 |             434 |
| 1003 | Captain Marvel                         |   2019 |      6.8 |          7300 |             530 |
| 2949 | Wonder Woman 1984                      |   2020 |      5.4 |          7100 |             399 |
|  857 | Star Wars: Episode VIII - The Last ... |   2017 |      7   |          6900 |             724 |
|  137 | The Lord of the Rings: The Fellowsh... |   2001 |      8.8 |          5500 |             199 |
| 4461 | Once Upon a Time... In Hollywood       |   2019 |      7.6 |          5500 |             645 |
|   85 | Game of Thrones                        |   2011 |      9.2 |          5100 |             341 |
| 3567 | Tenet                                  |   2020 |      7.4 |          5100 |             495 |
|  572 | Star Wars: Episode VII - The Force ... |   2015 |      7.8 |          4900 |             912 |
| 1817 | Interstellar                           |   2014 |      8.6 |          4600 |             634 |
|   13 | The Godfather                          |   1972 |      9.2 |          4500 |             267 |
|   64 | The Matrix                             |   1999 |      8.7 |          4500 |             222 |
| 1130 | Avengers: Infinity War                 |   2018 |      8.4 |          4400 |             623 |
| 5628 | The Witcher                            |   2019 |      8.2 |          4400 |              92 |
|  955 | Inception                              |   2010 |      8.8 |          4300 |             484 |
+------+----------------------------------------+--------+----------+---------------+-----------------+
Top 20 by critic reviews
+------+----------------------------------------+--------+----------+---------------+-----------------+
|    # | title                                  |   year |   rating |   userReviews |   criticReviews |
|------+----------------------------------------+--------+----------+---------------+-----------------|
| 3103 | The Shape of Water                     |   2017 |      7.3 |          1700 |            1000 |
|  572 | Star Wars: Episode VII - The Force ... |   2015 |      7.8 |          4900 |             912 |
| 1302 | Mad Max: Fury Road                     |   2015 |      8.1 |          2100 |             840 |
| 1095 | Batman v Superman: Dawn of Justice     |   2016 |      6.4 |          4000 |             818 |
| 1973 | Gravity                                |   2013 |      7.7 |          2100 |             791 |
| 1477 | Man of Steel                           |   2013 |      7   |          3000 |             780 |
|  448 | The Avengers                           |   2012 |      8   |          2000 |             763 |
| 1051 | Joker                                  |   2019 |      8.4 |         11000 |             743 |
| 5402 | Arrival                                |   2016 |      7.9 |          2000 |             735 |
| 1052 | Guardians of the Galaxy                |   2014 |      8   |          1400 |             729 |
| 2046 | Wonder Woman                           |   2017 |      7.4 |          2400 |             725 |
|  857 | Star Wars: Episode VIII - The Last ... |   2017 |      7   |          6900 |             724 |
|  772 | Rogue One: A Star Wars Story           |   2016 |      7.8 |          1800 |             719 |
| 2384 | Drive                                  |   2011 |      7.8 |          1600 |             716 |
| 6575 | Hugo                                   |   2011 |      7.5 |           801 |             710 |
| 1259 | Black Swan                             |   2010 |      8   |          1300 |             709 |
| 1396 | La La Land                             |   2016 |      8   |          1900 |             709 |
| 1320 | Avengers: Age of Ultron                |   2015 |      7.3 |          1300 |             698 |
| 2055 | Jurassic World                         |   2015 |      7   |          1500 |             698 |
| 1874 | Ghostbusters                           |   2016 |      6.7 |          2300 |             695 |
+------+----------------------------------------+--------+----------+---------------+-----------------+